/*
body *{
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.151);
}
*/
nav{
    text-align: center;
    background-color: rgb(223, 223, 223);
    position: sticky;
    top: 0;
    z-index: 10;
}
nav a{
    display: inline-block;
    padding: 0.25em 1em;
    background-color: whitesmoke;
    margin-top: 3px;
    margin-bottom: 3px;
}
footer{
    margin-top: 5em;
    text-align: center;
    background-color: rgb(223, 223, 223);
    padding: 1em;
}
h1{
    margin: 0.5em;
}
#homeCarousel{
    margin: 2em;
}
#cardDiv{
    margin: auto;
    width: 85%;
    align-items: center;
}
.pageImage{
    width: 50%;
    margin: 5em auto;
    display: block;
}
.pageBody{
    width: 80%;
    margin: 3em auto;
}
.contactForm{
    width: 50%;
    margin: 3em auto;
    padding: 1em;
}
.card{
    display: inline-block;
    margin: 2%;
}